#QuizCard{
    width:1100px;
    /* height:430px; */
    margin-left:18%;
    margin-top:-50%;
    background-color:rgb(237, 231, 231);
  }
  .col-sm-3{
    font-weight: bold;
  }
  
  #bulklink,#newquelink{
    text-decoration: none;
    color:rgba(128, 128, 128);
  }

  #questitle{
    color:grey;
  }
  .question-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  .question-number {
    margin: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

  }
  .question-details-container{
    
    margin-left: 80px;
    width: 700px;
  }
  #required{
    color:Red;
  }

  #editicon{
    font-size:30; 
    margin-left:90%
  }

  #delicon{
    font-size:28;
    margin-left:2%;
  }

  #id{
    font-weight:bold;
  }

  #filter{
    margin-top:-23%;
    margin-left:75%;
  }

  

  /* .card-body question{
    margin-top:-550px;
    margin-left:90;
  } */

#search{
  position: relative;
  left:50%;
  top:-130px !important;
  padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width:230px;
}