#dropzone{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:300px;
    width:50%;
    margin-left:25%;
    margin-top:2%;
    border:2px dashed #365486;
    padding:20px;
  }
  
  #heading{
    color: #365486;
  }

  