/* .Navbar {
    background-color: #27235c;
  }
  
  #QuizCard{
    width:900px;
    /* height:430px; */
    /* margin-left:25%;
    margin-top:-48%;
    background-color:rgb(237, 231, 231);
    
  }
   */
  /* #dropzone{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:300px;
    width:50%;
    margin-left:25%;
    margin-top:2%;
    border:2px dashed rgb(117,112,112);
    padding:20px;
  }
  
  
  
  #bulklink,#newquelink{
    text-decoration: none;
    color:grey;
  }
  
  #questitle{
    color:grey;
  }
  
  #required{
    color:Red;
  } */